<container>
  <div class="row d-flex justify-content-center">
    <div class='col-6 text-cetner text-center'>
      <% if user_signed_in? %>
      <%= link_to "Show ALL Books", books_url%>
      <% else%>
      <%= link_to "Show ALL Books", new_user_session_path%>
      <% end%>
      <br>
      <%= link_to "Show All Store", stores_url%>
    </div>
  </div>
</container>