/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 
 .header_main{
    display: flex;
    justify-content: space-between;
 }
 
 .m-y{
  margin-top: 10px;
  margin-bottom: 10px;
 }
 @media (min-width: 992px){
     #navbarSupportedContent{
         display: none!important
     }
 }
 
  @media (max-width: 992px){
     .none2{
         display: none!important
     }
 }

.button-primary {
  cursor: pointer;
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 24px;
  border-radius: 5px;
  padding: 5px 0;
  width: 200px;
  transition: all .5s; }
  .button-primary:before {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: -50%;
    background: #00b14f; 
    transition: all .5s;
    z-index: -1; }
  .button-primary:after {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    background: #00b14f; 
    transition: all .5s;
    z-index: -1; }
  .button-primary:hover:before {
    left: -100%; }
  .button-primary:hover:after {
    left: 100%; }
    .button-primary:hover {
    color: #00b14f; }


.button-primary a{
 color:white!important;
}


.button-primary:hover  a{
 color: #00b14f!important;
}


.form {
  margin: 100px 0; }
  .form__main {
    box-shadow: 6px 6px 10px rgba(105, 123, 124, 0.12), -6px -6px 10px rgba(105, 123, 124, 0.12);
    padding: 50px 40px; }
    .form__main-title {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 30px; }
    .form__main-button {
      border: 1px solid #ff324d;
      line-height: 20px;
      color: white;
      margin-top: 16px;
      z-index: 1; }
     
      .form__main-button:hover {
        color: #ff324d; }
    .form__main-or {
      text-align: center;
      margin: 16px 0;
      position: relative; }
      .form__main-or::after {
        position: absolute;
        width: 40%;
        height: 1px;
        content: '';
        margin: auto;
        top: 50%;
        left: 59%;
        background: #beb7b7; }
      .form__main-or::before {
        position: absolute;
        width: 40%;
        height: 1px;
        content: '';
        margin: auto;
        top: 50%;
        right: 59%;
        background: #beb7b7; }
    .form__main-bot {
      text-align: center; }
      .form__main-bot a {
        color: black; }
        .form__main-bot a:hover {
          color: #ff324d; }
      .form__main-bot .bot-btn {
        display: flex;
        justify-content: center;
        color: white; }
        .form__main-bot .bot-btn .facebook-btn {
          background-color: #3b5998;
          margin-right: 16px;
          width: 140px;
          height: 45px;
          line-height: 45px; }
        .form__main-bot .bot-btn .google-btn {
          background-color: #d85040;
          width: 140px;
          height: 45px;
          line-height: 45px; }