// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 
 
 .booklist{
     background-color: white ;
     padding: 8px 16px;
 }
 
 .book{
    display:flex; 
    background-color:white;
    padding: 5px 0;
    border-bottom: 1px solid gray  ;
 }
 
 .book_describe{
     margin-left:10px;
 }
 
 a,a:hover{
  text-decoration:none;
 }
 
 
  .reviewlist{
     background-color: #00b14f ;
     padding: 8px 8px;
 }
 
 .review{
   
    background-color:white;
    padding: 5px 0;
    border-bottom: 1px solid gray  ;
    margin-bottom:2px;
 }
 
 .review_describe{
     margin-left:10px;
      display:flex; 
 }
 
 .review_describe-text{
  text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
 }