// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 
 .profile{
     display:flex;
     
 }
 
 .profile .describe{
     margin-left:20px;
 }
 .profile h4{
     margin-bottom:20px;
 }
 
 .bigwidth{
     width:250px;
 }